
* {font-family: 'Readex Pro';}

body {
    background-color : #FFFFFF;
    secondaryBackgroundColor = #f0f2f6;
}

.fullScreenFrame > div {
    display: flex;
    justify-content: center;
}

ul {
    padding-left: 1.5rem;
  }

h1 {
    text-align:center;
}

h5 {
    text-align:center;
}

img {
    margin-left: 17.2rem;
}

#MainMenu {
    visibility: hidden;
}
footer {
    visibility: hidden;
}
header {
    visibility: hidden;
}
*{font-family : 'Reader Pro';}

a:hover{
    color: #d33682 !important;
    text-decoration : none;    

}
